<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer</h1>
  <form method="POST" action="/">
    <p>Input text here:</p>
    <textarea name="user_input"></textarea>
  </form>
  </body>
</html>
